fastapi==0.112.2
uvicorn[standard]==0.30.5
python-dotenv==1.0.1
pydantic==2.8.2
requests==2.32.3
dateparser==1.2.0

# Chroma + cliente
chromadb

# Embeddings locales (ligero y bueno)
sentence-transformers==3.0.1
torch==2.3.1
openai>=1.42.0

# Tokenizador para modelos OpenAI y similares
tiktoken==0.11.0

# Procesamiento de lenguaje natural
spacy==3.8.7

Whoosh==2.7.4
